/* ce qui s'applique à toutes les pages */
*{
  font-family: 'Prompt', sans-serif;
}
/* mise en page des fieldsets à revoir */
fieldset{
  align: center;
  border-radius: 5px;
  margin-top: 8%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left:auto;
  margin-right: auto;
  width: 40%;
}
/* mise en page en bas à droite du copyright */
footer{
  position: absolute;
  float: right;
  border-top: none;
  width: 97%;
  font-style: italic;
  bottom:0;
  padding-top:50px;
  text-align: right;
}
.image_accueil{
  width: 45%;
  height: auto;
  margin: 25%;
  margin-top: 6%;
  margin-bottom: 4%
}
.image_menu{
  width: 45%;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 30%;
}
.title{
  text-align: center;
  margin-top: 3%;
}
.menu_page{
  background-color: #C3C3C3;
}
/* mise en page du texte sur la page bienvenue */
.informations_accueil{
  align-items: start;
  justify-content: space-between;
  padding-top: 4%;
}
.titre_accueil{
  text-align: center;
}
.informations_accueil_div{
  width : 70%;
  background-color: grey;
  border-radius: 10px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
/* code de l'affichage du menu déroulant */

nav{ /* mise en page de la balise navigation */

    width: 100%; /* prend 100 % de la page   */
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px;
    border-radius: 10px;
}
nav ul{ /* selection de la balise ul dans la balise nav */

    list-style-type: none; /* Enlever la mise en forme de la liste */
}

nav ul li{ /* selection des elements de la liste  dans la balise ul qui est dans la balise nav */
    width: 100%;
    position: relative;
}


nav ul::after{ /* ::after crée un pseudo-élément qui sera le dernier enfant de l'élément sélectionné */
    content: "";
    display: table;
    clear: both;
}
nav a{ /* mise en page des liens */
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 12px 0px;
}
nav a:hover{ /* :hover permet de changer d'etat quand la souris
                passe au dessus ici ça va changer la couleur des liens pour les afficher en orange  */
    color: orange;
    border-bottom: 2px solid gold;
}
.sous{
    /* classe des colones des listes */

    display: none;  /* cache les sous menus */
    box-shadow: 0px 1px 2px #CCC;
    background-color: #A2A2A2;
    position: absolute;
    width: 55%;
    z-index: 1000;
    border-radius: 10px;
    padding-left: 0;
    text-align: left;
}
nav > ul li:hover .sous{ /* le selecteur nav > ul li:hover .sous sert à cibler un sous menu .sous lorsqu’un
                        utilisateur passe sa souris sur un éléments li de la liste représentant le menu principal.
                        Selectionne tous les ul li contenu dans nav*/

    display: block; /* display block quand un utilisateur passe sa souris sur une des categories / affiche les sous menus */
}

/* En mettant .sous puis li on herite et on réutilise les styles déjà créé pour ne pas avoir à tout refaire */

.sous li{ /* On veut que nos éléments s'affichent les uns en dessous des autres */
    float: none;
    width: 98%;/* Ils occupent 98% de l'espace disponible */
    text-align: left; /* et le texte soit aligné à gauche */
}

.sous a{
    padding: 10px; /* on décolle les liens */
    border-bottom: none; /* on attache les liens en bas */
}

.sous a:hover{ /* Change l'état des liens (la case) quand on passe la souris au dessus */
    background-color: RGBa(200,200,200,0.1); /* change sa couleur */
}
.deroulant > a::after{ /* Selectionne les liens qui composent les classes 'deroulant' */ 
                        permet de rajouter un symbole après toutes les catégories de notre menu */
    content:" ▼";
    font-size: 12px;
}
/* fin du code de l'affichage du menu déroulant */





/* code pour la mise en page de toutes les pages générées en php */

.buttonclick{
  cursor: pointer;
  width: 19%;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  background: #E7AF04;
  color: white;
  font-weight: bold;
  font-weight: bold;
  margin-bottom: -3%;
  border-width: 1px;
}

.space{
  margin-left: 1%;
  margin-right: 1%;
}


.all_pages{
  background-color: #C3C3C3; // fait en sorte que le fond de toutes les pages soient en gris    // fait en sorte que le texte s'alligne à gauche de leur balises
  margin: auto;  // fixe tout le contenu d'une page au millieu
}

.text{
  border-radius: 4px;
  width: 20%;
  padding-left: 2%;
  font-size: 15px;
  outline-color: #FFDB89;
  background-color: #FFFAED;
  border-width: 1px;
}

input{
  margin-top: 2%;
}

.formbutton{
  width : 20%;
  font-weight: bold;
  margin-top: 5%;
  margin-left:2%;
  margin-right:2%;
  border-radius: 4px;
  cursor: pointer;
  background: #E7AF04;
  color: white;
  font-weight: bold;
  outline-color: white;
  border-width: 1px;
}



.retour{
  padding-top: 2%;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  background-color: #ABABAB;
  height: 19%;
  margin-top: 8%;
  margin-left:auto;
  margin-right: auto;
  font-size: 20px;
}
