/* ce qui s'applique à toutes les pages */
*{
  font-family: 'Prompt', sans-serif;
}
/* mise en page des fieldsets à revoir */
fieldset{
  align: center;
  border-radius: 5px;
  margin-top: 8%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left:auto;
  margin-right: auto;
  width: 40%;
}
/* mise en page en bas à droite du copyright */
footer{
  font-style: italic;
  position:absolute;
  bottom:0;
  padding-top:50px;
  margin-left:70%;
}
.image_accueil{
  width: 45%;
  height: auto;
  margin: 25%;
  margin-top: 10%;
  margin-bottom: 3%
}
.image_menu{
  width: 45%;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: 30%;
}
.title{
  text-align: center;
  margin-top: 4%;
}
.menu_page{
  background-color: #C3C3C3;
}
/* mise en page du texte sur la page bienvenue */
.informations_accueil{
  align-items: start;
  justify-content: space-between;
  padding-top: 4%;
}
.titre_accueil{
  text-align: center;
}
.informations_accueil_div{
  width : 70%;
  background-color: grey;
  border-radius: 10px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
/* code de l'affichage du menu déroulant */
nav{
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px;
    border-radius: 10px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    width: 100%;
    position: relative;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 12px 0px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #A2A2A2;
    position: absolute;
    width: 55%;
    z-index: 1000;
    border-radius: 10px;
    padding-left: 0;
    text-align: left;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 98%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
/* fin du code de l'affichage du menu déroulant */


/* code pour la mise en page de toutes les pages générées en php */

.all_pages{
  background-color: #C3C3C3; // fait en sorte que le fond de toutes les pages soient en gris    // fait en sorte que le texte s'alligne à gauche de leur balises
  margin: auto;  // fixe tout le contenu d'une page au millieu
}

.text{
  border-radius: 4px;
  width: 20%;
  height: 7%;
  padding-left: 2%;
  font-size: 15px;
  outline-color: #FFDB89;
  background-color: #FFFAED;
}

input{
  margin-top: 2%;
}

.formbutton{
  width : 20%;
  height : 1%;
  font-size: 15px;
  margin-top: 5%;
  margin-left:2%;
  margin-right:2%;
  border-radius: 4px;
}


.erreur{
  width: 50%;
  height: auto;
  margin-top: 8%;
  margin-left:auto;
  margin-right: auto;
  font-size: 20px;
}
